<body>
  <div class="body-socio">
      <p> <%= cadastros.nome %>
        <%= cadastros.sobrenome %>
        <%= cadastros.dtNasc %>
        <%= cadastros.email %>
        <%= cadastros.telefone %>
        <%= cadastros.endereco %>      
      </p>
  </div>
</body>